<div class="container">
  <h2><%= @video.try :name %> with <strong><%= @video.try :stats %> plays</strong></h2>
  <hr>

  <!-- MEDIUM -->
  <div class="row">
    <div class="eight columns">
      <h4>QuickNote</h4>
      <div class="editable">
        <h5>You can type up your notes here while you watch the video.</h5>
        <br>
        <h5>Remember to copy and save once you're finished watching!!!</h5>
      </div>
    </div>

    <!-- VIMEO -->
    <div class="six columns"><%= @video.try :name %>
      <iframe src="//player.vimeo.com/video/<%= @video.try :vimeo_id %>?portrait=0&color=333" width="600" height="337" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><a class="button button-primary" href="/index">BACK TO VIDEOS</a>
    
    <!-- DISQUS -->
    <%= render "layouts/disqus_script" %>
        <hr>
    </div>
  </div>
</div>
