<div class="container">
    <div class="row">
        <div class="one-half column">

            <h3>Upper Limb Positioning Images</h3>
            <div class="playlistItem">
                <% upper_limb %>
                <% @videos.each do |video| %>
                <% viewed_class = 'active' if video.viewer_ids.include? current_user.id %>
                <a class="fancybox fancybox.iframe" href="//player.vimeo.com/video/<%= video.try :vimeo_id %>?portrait=0&color=333" title="<%= video.try :name %>" data-id="<%= video.id %>"><img class="thumb <%= viewed_class %>" src="https://i.vimeocdn.com/video/<%= video.try :pictures %>_200x150.jpg" alt="placeholder"></a>
                <% end %>
            </div>

            <h3>Lower Limb Positioning Images</h3>
            <div class="playlistItem">
                <% lower_limb %>
                <% @videos.each do |video| %>
                <% viewed_class = 'active' if video.viewer_ids.include? current_user.id %>
                <a class="fancybox fancybox.iframe" href="//player.vimeo.com/video/<%= video.try :vimeo_id %>?portrait=0&color=333" title="<%= video.try :name %>" data-id="<%= video.id %>"><img class="thumb <%= viewed_class %>" src="https://i.vimeocdn.com/video/<%= video.try :pictures %>_200x150.jpg" alt="placeholder"></a>
                <% end %>
            </div>

            <h3>Chest Positioning Images</h3>
            <div class="playlistItem">
                <% chest %>
                <% @videos.each do |video| %>
                <% viewed_class = 'active' if video.viewer_ids.include? current_user.id %>
                <a class="fancybox fancybox.iframe" href="//player.vimeo.com/video/<%= video.try :vimeo_id %>?portrait=0&color=333" title="<%= video.try :name %>" data-id="<%= video.id %>"><img class="thumb <%= viewed_class %>" src="https://i.vimeocdn.com/video/<%= video.try :pictures %>_200x150.jpg" alt="placeholder"></a>
                <% end %>
            </div>

            <h3>Shoulder Positioning Images</h3>
            <div class="playlistItem">
                <% shoulder %>
                <% @videos.each do |video| %>
                <% viewed_class = 'active' if video.viewer_ids.include? current_user.id %>
                <a class="fancybox fancybox.iframe" href="//player.vimeo.com/video/<%= video.try :vimeo_id %>?portrait=0&color=333" title="<%= video.try :name %>" data-id="<%= video.id %>"><img class="thumb <%= viewed_class %>" src="https://i.vimeocdn.com/video/<%= video.try :pictures %>_200x150.jpg" alt="placeholder"></a>
                <% end %>
            </div>

            <h3>Pelvis Positioning Images</h3>
                <div class="playlistItem">
                <% pelvis %>
                <% @videos.each do |video| %>
                <% viewed_class = 'active' if video.viewer_ids.include? current_user.id %>
                <a class="fancybox fancybox.iframe" href="//player.vimeo.com/video/<%= video.try :vimeo_id %>?portrait=0&color=333" title="<%= video.try :name %>" data-id="<%= video.id %>"><img class="thumb <%= viewed_class %>" src="https://i.vimeocdn.com/video/<%= video.try :pictures %>_200x150.jpg" alt="placeholder"></a>
                <% end %>
            </div>

            <h3>Spinal Positioning Images</h3>
                <div class="playlistItem">
                <% spinal %>
                <% @videos.each do |video| %>
                <% viewed_class = 'active' if video.viewer_ids.include? current_user.id %>
                <a class="fancybox fancybox.iframe" href="//player.vimeo.com/video/<%= video.try :vimeo_id %>?portrait=0&color=333" title="<%= video.try :name %>" data-id="<%= video.id %>"><img class="thumb <%= viewed_class %>" src="https://i.vimeocdn.com/video/<%= video.try :pictures %>_200x150.jpg" alt="placeholder"></a>
                <% end %>
            </div>

        </div>
    </div>
</div>