<h1>This is the Video Landing Page</h1>

  <h3>Upper Limb Positioning Images</h3>
  <div class="playlistitem">
      <% upper_limb %>
      <% @videos.each do |video| %>
          <a class="fancybox fancybox.iframe" href="//player.vimeo.com/video/<%= video.try :vimeo_id %>?portrait=0&color=333" title="<%= video.try :name %>"><img src="https://i.vimeocdn.com/video/<%= video.try :pictures %>_200x150.jpg" alt="placeholder"></a>
          <!-- FIGURE OUT HOW TO INSET NAME WITHOUT DISTRUPTING FLOW
          <div class="video_name"><%#= video.try :name %></div> 
          -->
      <% end %>
  </div>

  <h3>Lower Limb Positioning Images</h3>
  <div class="playlistitem">
      <% lower_limb %>
      <% @videos.each do |video| %>
          <a class="fancybox fancybox.iframe" href="//player.vimeo.com/video/<%= video.try :vimeo_id %>?portrait=0&color=333" title="<%= video.try :name %>"><img src="https://i.vimeocdn.com/video/<%= video.try :pictures %>_200x150.jpg" alt="placeholder"></a>
          <!-- FIGURE OUT HOW TO INSET NAME WITHOUT DISTRUPTING FLOW
          <div class="video_name"><%#= video.try :name %></div> 
          -->
      <% end %>
  </div>

  <h3>Chest Positioning Images</h3>
  <div class="playlistitem">
      <% chest %>
      <% @videos.each do |video| %>
          <a class="fancybox fancybox.iframe" href="//player.vimeo.com/video/<%= video.try :vimeo_id %>?portrait=0&color=333" title="<%= video.try :name %>"><img src="https://i.vimeocdn.com/video/<%= video.try :pictures %>_200x150.jpg" alt="placeholder"></a>
          <!-- FIGURE OUT HOW TO INSET NAME WITHOUT DISTRUPTING FLOW
          <div class="video_name"><%#= video.try :name %></div> 
          -->
      <% end %>
  </div>

  <h3>Shoulder Positioning Images</h3>
  <div class="playlistitem">
      <% shoulder %>
      <% @videos.each do |video| %>
          <a class="fancybox fancybox.iframe" href="//player.vimeo.com/video/<%= video.try :vimeo_id %>?portrait=0&color=333" title="<%= video.try :name %>"><img src="https://i.vimeocdn.com/video/<%= video.try :pictures %>_200x150.jpg" alt="placeholder"></a>
          <!-- FIGURE OUT HOW TO INSET NAME WITHOUT DISTRUPTING FLOW
          <div class="video_name"><%#= video.try :name %></div> 
          -->
      <% end %>
  </div>

  <h3>Pelvis Positioning Images</h3>
  <div class="playlistitem">
      <% pelvis %>
      <% @videos.each do |video| %>
          <a class="fancybox fancybox.iframe" href="//player.vimeo.com/video/<%= video.try :vimeo_id %>?portrait=0&color=333" title="<%= video.try :name %>"><img src="https://i.vimeocdn.com/video/<%= video.try :pictures %>_200x150.jpg" alt="placeholder"></a>
          <!-- FIGURE OUT HOW TO INSET NAME WITHOUT DISTRUPTING FLOW
          <div class="video_name"><%#= video.try :name %></div> 
          -->
      <% end %>
  </div>

  <h3>Spinal Positioning Images</h3>
  <div class="playlistitem">
      <% spinal %>
      <% @videos.each do |video| %>
          <a class="fancybox fancybox.iframe" href="//player.vimeo.com/video/<%= video.try :vimeo_id %>?portrait=0&color=333" title="<%= video.try :name %>"><img src="https://i.vimeocdn.com/video/<%= video.try :pictures %>_200x150.jpg" alt="placeholder"></a>
          <!-- FIGURE OUT HOW TO INSET NAME WITHOUT DISTRUPTING FLOW
          <div class="video_name"><%#= video.try :name %></div> 
          -->
      <% end %>
  </div>


  <style>
  .fancybox-skin {
    background-color: black;
  }

  .fancybox-title .child{
    padding-top: 2em;
    font-size: 2em;
    background-color: transparent;
  }
  </style>

  <script>
    $(document).ready(function() {
      $(".fancybox").fancybox({
          type: "iframe",
          titlePosition: "inside",
          transitionIn: 'fade',
          transitionOut: 'fade',
          beforeShow: function () {
                  this.title = (this.title) + " <button>View Full Lesson</button>";
              }
      });
    });


  </script>