<!DOCTYPE html>
<html>
<head>
  <title>Eddeo</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<body>

  <header>
  Medical Radiation Sciences | Postioning Videos
  </header>

    <div class="devise_header">
      <% if user_signed_in? %>
        Nice work, you have watched <strong><%= current_user.views.count %> of 113</strong> videos available.<br>
        <%= current_user.email %>
        <strong><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></strong>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>

    <!-- DEVISE FLASH MESSAGES -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    </div>

          <%= yield %>

  <footer>
    <hr>
    Faculty of Health Sciences<br>University of Sydney<br>&copy; 2015
  </footer>
  <style>
    html body div#fancybox-loading {
      display: none !important;
    }
  </style>
</body>
</html>
